body {
    font-family: Arial;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    text-align: center;
    background: white;
    padding: 40px;
    border-radius: 10px;
  }
  
  .letra {
    font-size: 80px;
    margin: 20px;
  }